*{
  box-sizing: border-box;
  font-size: 62.5%;
}

body{
  background-color: #DCDCDC	;
  padding:0;
  margin:0;
}
.datos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.titulo{
  font-size: 3rem;
  text-align: center;
}
.card{
  background-color: #ffffff;
  width:30%;
  margin: 10px;
  border-radius: 20px;
}

.card .promo-img{
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  max-height: 350px;
}
.promo-content{
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.promo-title{
  font-size: 3rem;
  text-align: center;
  line-height: 26px;
}

.promo-description{
  font-size: 1.6rem;
}

.btn-solicitar{
  font-size: 1.8rem;
  border: none;
  background-color: rgb(28, 194, 42);
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 10px;
}

.swal2-header{
 font-size: 1.6rem; 
}
.swal2-container a{
   font-size: 2rem; 
   padding: 0;
}
.swal2-actions {
    font-size: 1.3rem;
}

.swal2-content ul{
  text-align: center;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.swal2-content ul li a{
  text-decoration: none;
  padding: 10px 40%;
}
.swal2-content ul li a i{
  font-size:2rem;
}

.swal2-content ul li{
  margin: 30px;
}

.swal2-actions .swal2-confirm{
  background-color: rgb(233, 16, 16);
  padding: 12px 40px;
}

.btn-instagram{
  background-color: #e93988;
  color: #ffffff;
}
.btn-facebook{
  background-color: #3b5998;
  color: #ffffff;
}

.btn-web{
  background-color: #2e332e;
  color: #ffffff;
}

@media only screen and (max-width: 900px) {
  .card{
    width: 45%;
  }

  .swal2-content ul li a{
    padding: 10px 30%;
  }

}

@media only screen and (max-width: 600px) {
  .card{
    width:90%;
  }
  .swal2-content ul li a{
    padding: 10px 18%;
  }

}

@media only screen and (max-width: 400px) {
  .swal2-content ul li a{
    padding: 10px 5%;
  }
}

@media only screen and (max-width: 330px) {
  .swal2-content ul li a{
    font-size:1.6rem
  }
}
